{# templates/security/password_reset_request.html.twig #}

{% extends 'base.html.twig' %}
{% include 'header/header.php' %}
<link href="/button.css" rel="stylesheet">
{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<h1>Réinitialisation de mot de passe</h1>

<form method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="retro-button">Envoyer l'email de réinitialisation</button>
</form>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}
