.login-container {
   max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
}
input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.extra-links {
    margin-top: 1rem;
}
.extra-links a {
    display: block;
    margin-top: 0.5rem;
    color: #007BFF;
    text-decoration: none;
}
.extra-links a:hover {
    text-decoration: underline;
}
