{% extends 'base.html.twig' %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/product.css" rel="stylesheet">
{% endblock %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
